.colors{
    color: rgba(0, 0, 0, 0.5);
    color: #2b2b2b;
    color: #b1b1b1;
    color: #5e5e5e;
    color: #dbdbdb;
    color: #ffde93;
    color: #e3ae36;
    color: #e1915c;
    color: #efefef;
    color: #fcfbf5;
    color: #865f02;
    color: #a87602;
    color: #a87f1e;
    color: #ad7b07;
    color: #bd8605;
    color: #c58d0b;
    color: #8b660e;
    color: #522e1e;
    color: #854529;
    color: #c16b3a;
    color: #d78b2b;
    color: #fac23e;
    color: #7e3e24;
    color: #b53446;
}
 .fonts{
    font-family: 'DM Serif Display', serif; 
    font-family: 'Poppins', sans-serif;
    font-family: "Montserrat", sans-serif;

    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
 }